.cell {
	width: 16px;
	height: 16px;
	background-image: url("../assets//sprite.png");
	overflow: hidden;
}

.cell__hidden {
	background-position: var(--sprite-cell-hidden);
}

.cell__flagged {
	background-position: var(--sprite-cell-flagged);
}

.cell__flaggedInvalid {
	background-position: var(--sprite-cell-flaggedInvalid);
}

.cell__questioned {
	background-position: var(--sprite-cell-questioned);
}

.cell__mine {
	background-position: var(--sprite-cell-mine);
}

.cell__final {
	background-position: var(--sprite-cell-mine-final);
}

.cell__revealed[data-mines="0"] {
	background-position: var(--sprite-cell-mine-0);
}

.cell__revealed[data-mines="1"] {
	background-position: var(--sprite-cell-mine-1);
}

.cell__revealed[data-mines="2"] {
	background-position: var(--sprite-cell-mine-2);
}

.cell__revealed[data-mines="3"] {
	background-position: var(--sprite-cell-mine-3);
}

.cell__revealed[data-mines="4"] {
	background-position: var(--sprite-cell-mine-4);
}

.cell__revealed[data-mines="5"] {
	background-position: var(--sprite-cell-mine-5);
}

.cell__revealed[data-mines="6"] {
	background-position: var(--sprite-cell-mine-6);
}

.cell__revealed[data-mines="7"] {
	background-position: var(--sprite-cell-mine-7);
}

.cell__revealed[data-mines="8"] {
	background-position: var(--sprite-cell-mine-8);
}
