.button {
	width: 26px;
	height: 26px;
	background-image: url("../assets//sprite.png");
	overflow: hidden;

	background-position: var(--sprite-smile);
}

.button:active {
	background-position: var(--sprite-smile-wow);
}

.button__completed {
	background-position: var(--sprite-smile-cool);
}

.button__failed {
	background-position: var(--sprite-smile-dead);
}
