.count [data-digit] {
	display: inline-block;
	width: 13px;
	height: 23px;
	background-image: url("/sprite.png");
	overflow: hidden;
}

.count [data-digit="0"] {
	background-position: var(--sprite-digit-0);
}
.count [data-digit="1"] {
	background-position: var(--sprite-digit-1);
}
.count [data-digit="2"] {
	background-position: var(--sprite-digit-2);
}
.count [data-digit="3"] {
	background-position: var(--sprite-digit-3);
}
.count [data-digit="4"] {
	background-position: var(--sprite-digit-4);
}
.count [data-digit="5"] {
	background-position: var(--sprite-digit-5);
}
.count [data-digit="6"] {
	background-position: var(--sprite-digit-6);
}
.count [data-digit="7"] {
	background-position: var(--sprite-digit-7);
}
.count [data-digit="8"] {
	background-position: var(--sprite-digit-8);
}
.count [data-digit="9"] {
	background-position: var(--sprite-digit-9);
}
